<?xml version="1.0" ?>

<!--Generates a urdf from the macro in sia5_macro.xacro -->

<robot name="motoman_sia5d" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:include filename="$(find motoman_sia5d_support)/urdf/sia5d_macro.xacro"/>
	<xacro:motoman_sia5d prefix=""/>

    <!-- properties -->
    <xacro:property name="M_PI" value="3.141592654" />
    <xacro:property name="EEF_OFFSET_FROM_ROBOTIQ" value="0.16" />
    <xacro:property name="FT_OFFSET_FROM_TOOL" value="0.03" />
    <xacro:property name="FT_ROT" value="238" /> <!-- specify in degrees 238-->
    <xacro:property name="PLASMA_ROT" value="250" /> <!-- specify in degrees 40 -->

    <link name="tool0_oriented"></link>
    <joint name="tool0_oriented_joint" type="fixed">
      <parent link="tool0" />
      <child link="tool0_oriented" />
      <origin xyz="0.0 0.0 -0.011" rpy="0.0 ${M_PI/2} 0.0" />
    </joint>

    <!-- attach ft sensor -->
    <link name="ft_sensor">
        <visual>
            <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://motoman_sia5d_support/meshes/ft_sensor.stl"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://motoman_sia5d_support/meshes/ft_sensor.stl"/>
            </geometry>
            <material name="yellow"/>
        </collision>
    </link>
    <joint name="ft_sensor_joint" type="fixed">
        <parent link="tool0_oriented" />
        <child link="ft_sensor" />
        <origin xyz="0.0 0.0 ${FT_OFFSET_FROM_TOOL}" rpy="0.0 0.0 ${FT_ROT*M_PI/180.0}" />
    </joint>
    
    <!-- attach plasma pen holder -->
    <link name="plasma_pen_holder">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://motoman_sia5d_support/meshes/plasma_pen_mount.stl"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://motoman_sia5d_support/meshes/plasma_pen_mount.stl"/>
            </geometry>
            <material name="yellow"/>
        </collision>
    </link>
    <joint name="ft_to_plasma_joint" type="fixed">
        <parent link="ft_sensor" />
        <child link="plasma_pen_holder" />
        <origin xyz="0.0 0.0 0.05" rpy="${180*M_PI/180.0} 0.0 ${240*M_PI/180.0}" />
    </joint>

    <!-- attach plasma pen -->
    <link name="plasma_pen">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://motoman_sia5d_support/meshes/pen.stl"/>
            </geometry>
            <material name="silver"/>
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://motoman_sia5d_support/meshes/pen.stl"/>
            </geometry>
            <material name="yellow"/>
        </collision>
    </link>
    <joint name="holder_to_pen" type="fixed">
        <parent link="plasma_pen_holder" />
        <child link="plasma_pen" />
        <origin xyz="-0.063 0.0 0.135" rpy="${180*M_PI/180.0} 0.0 0.0" />
    </joint>

    <!-- attach eef link at front of pen -->
    <link name="eef" />
    <joint name="eef_joint" type="fixed" >
        <parent link="plasma_pen" />
        <child link="eef" />
        <origin xyz="0.0 0.0 0.23" rpy="0.0 0.0 0.0"/>
    </joint>
</robot>

